Repository khaneliman/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Shared, Linux, MacOS, NixOS, Windows, Hyprland, AwesomeWM, Gnome, Komorebi, Yabai, Server, Unraid, Docker, repo, GitHub-Action

arm vm fixes
  dots/nixos/flake.nix
  dots/nixos/hosts/vm-arm/default.nix
  dots/nixos/pkgs/swww/default.nix
Labels: NixOS

fix arm hostname
  dots/nixos/systems/aarch64-linux/nixos/default.nix
  dots/nixos/systems/aarch64-linux/nixos/hardware.nix
Labels: NixOS

remove unused
  dots/nixos/modules/apps/firefox/default.nix
  dots/nixos/modules/desktop/addons/firefox-nordic-theme/default.nix
  dots/nixos/modules/suites/development/default.nix
  dots/nixos/modules/suites/games/default.nix
  dots/nixos/packages/doukutsu-rs/cargo-toml.patch
  dots/nixos/packages/doukutsu-rs/cargo.patch
  dots/nixos/packages/doukutsu-rs/default.nix
  dots/nixos/systems/x86_64-install-iso/graphical/default.nix
  dots/nixos/systems/x86_64-virtualbox/virt/default.nix
Labels: NixOS

fix boot
  dots/nixos/systems/aarch64-linux/nixos/default.nix
  dots/nixos/systems/x86_64-linux/bismuth/default.nix
Labels: NixOS

fix neovim
  dots/nixos/modules/cli-apps/neovim/default.nix
Labels: NixOS

disable arm audio for now
  dots/nixos/systems/aarch64-linux/nixos/default.nix
Labels: NixOS

disable logseeq arm
  dots/nixos/systems/aarch64-linux/nixos/default.nix
Labels: NixOS

fix efi boot
  dots/nixos/modules/system/boot/default.nix
  dots/nixos/systems/aarch64-linux/nixos/hardware.nix
Labels: NixOS

update user
  dots/nixos/modules/user/default.nix
  dots/nixos/modules/user/profile.png
Labels: NixOS

use existing neovim config
  dots/nixos/modules/cli-apps/neovim/default.nix
Labels: NixOS

test something
  dots/nixos/modules/cli-apps/neovim/default.nix
Labels: NixOS

add vm archetype and suite
  dots/nixos/flake.lock
  dots/nixos/modules/archetypes/vm/default.nix
  dots/nixos/modules/cli-apps/neovim/default.nix
  dots/nixos/modules/services/spice-vdagentd/default.nix
  dots/nixos/modules/suites/desktop/default.nix
  dots/nixos/modules/suites/music/default.nix
  dots/nixos/modules/suites/social/default.nix
  dots/nixos/modules/suites/vm/default.nix
  dots/nixos/result
  dots/nixos/systems/aarch64-linux/nixos/default.nix
Labels: NixOS

add webdav
  dots/nixos/modules/services/spice-webdav/default.nix
  dots/nixos/modules/suites/vm/default.nix
Labels: NixOS

catppuccin cursors
  dots/nixos/flake.lock
  dots/nixos/flake.nix
  dots/nixos/modules/desktop/addons/gtk/default.nix
  dots/nixos/overlays/bibata-cursors/default.nix
  dots/nixos/packages/bibata-cursors/default.nix
Labels: NixOS

Catppuccin-gtk
  dots/nixos/modules/desktop/addons/gtk/default.nix
Labels: NixOS

Catppuccin-Dark gnome
  dots/nixos/modules/desktop/gnome/default.nix
Labels: NixOS

catppuccin wallpapers
  dots/nixos/modules/desktop/gnome/default.nix
  dots/nixos/packages/wallpapers/wallpapers/atmosphere.png
  dots/nixos/packages/wallpapers/wallpapers/blue.png
  dots/nixos/packages/wallpapers/wallpapers/buttons.png
  dots/nixos/packages/wallpapers/wallpapers/cat-sound.png
  dots/nixos/packages/wallpapers/wallpapers/cat_pacman.png
  dots/nixos/packages/wallpapers/wallpapers/center.jpg
  dots/nixos/packages/wallpapers/wallpapers/flatppuccin_macchiato.png
  dots/nixos/packages/wallpapers/wallpapers/flcl.png
  dots/nixos/packages/wallpapers/wallpapers/hashtags-black.png
  dots/nixos/packages/wallpapers/wallpapers/hashtags-new.png
  dots/nixos/packages/wallpapers/wallpapers/hearts.png
  dots/nixos/packages/wallpapers/wallpapers/left.jpg
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-dark-nix-ultrawide.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-dark-nix.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-dark-ultrawide.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-dark.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-light-nix-ultrawide.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-light-nix.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-light-ultrawide.png
  dots/nixos/packages/wallpapers/wallpapers/nord-rainbow-light.png
  dots/nixos/packages/wallpapers/wallpapers/pink-and-blue-ultrawide.png
  dots/nixos/packages/wallpapers/wallpapers/sleepy-lizard.jpg
  dots/nixos/packages/wallpapers/wallpapers/tetris.png
  dots/nixos/packages/wallpapers/wallpapers/tonari.jpg
  dots/nixos/systems/x86_64-linux/bismuth/default.nix
Labels: NixOS

add new apps
  dots/nixos/flake.nix
  dots/nixos/modules/apps/neovide/default.nix
  dots/nixos/modules/archetypes/vm/default.nix
  dots/nixos/modules/cli-apps/btop/default.nix
  dots/nixos/modules/cli-apps/feh/default.nix
  dots/nixos/modules/cli-apps/glow/default.nix
  dots/nixos/modules/cli-apps/lazydocker/default.nix
  dots/nixos/modules/cli-apps/lazygit/default.nix
  dots/nixos/modules/cli-apps/onefetch/default.nix
  dots/nixos/modules/cli-apps/ranger/default.nix
  dots/nixos/modules/suites/common-slim/default.nix
  dots/nixos/modules/suites/common/default.nix
  dots/nixos/modules/suites/desktop/default.nix
  dots/nixos/modules/suites/development/default.nix
  dots/nixos/modules/suites/vm/default.nix
  dots/nixos/modules/tools/atool/default.nix
  dots/nixos/modules/tools/bat/default.nix
  dots/nixos/modules/tools/cmake/default.nix
  dots/nixos/modules/tools/exa/default.nix
  dots/nixos/modules/tools/git-crypt/default.nix
  dots/nixos/modules/tools/gnumake/default.nix
  dots/nixos/modules/tools/llvm/default.nix
  dots/nixos/modules/tools/lsd/default.nix
  dots/nixos/modules/tools/oh-my-posh/default.nix
  dots/nixos/modules/tools/rustup/default.nix
  dots/nixos/modules/tools/socat/default.nix
  dots/nixos/modules/tools/spicetify-cli/default.nix
  dots/nixos/modules/tools/toilet/default.nix
  dots/nixos/modules/tools/topgrade/default.nix
  dots/nixos/modules/tools/tree-sitter/default.nix
  dots/nixos/modules/tools/xclip/default.nix
Labels: NixOS

remove app
  dots/nixos/modules/apps/element/default.nix
  dots/nixos/modules/apps/frappe-books/default.nix
  dots/nixos/modules/apps/freetube/default.nix
  dots/nixos/modules/apps/hey/default.nix
  dots/nixos/modules/apps/twitter/default.nix
  dots/nixos/modules/apps/ubports-installer/default.nix
  dots/nixos/modules/desktop/gnome/default.nix
  dots/nixos/modules/suites/business/default.nix
  dots/nixos/modules/suites/desktop/default.nix
  dots/nixos/modules/suites/development/default.nix
  dots/nixos/modules/suites/media/default.nix
  dots/nixos/modules/suites/social/default.nix
  dots/nixos/overlays/freetube/default.nix
  dots/nixos/packages/at/README.md
  dots/nixos/packages/at/create-node-packages.nix
  dots/nixos/packages/at/default.nix
  dots/nixos/packages/at/node-env.nix
  dots/nixos/packages/at/node-packages.json
  dots/nixos/packages/at/node-packages.nix
  dots/nixos/packages/at/update.sh
  dots/nixos/packages/frappe-books/default.nix
  dots/nixos/packages/ubports-installer-udev-rules/51-android.rules
  dots/nixos/packages/ubports-installer-udev-rules/default.nix
  dots/nixos/packages/ubports-installer/default.nix
  dots/nixos/systems/x86_64-linux/bismuth/default.nix
Labels: NixOS

Create check.yml
  .github/workflows/check.yml
Labels: GitHub-Action

remove unused app reference
  dots/nixos/systems/x86_64-linux/bismuth/default.nix
Labels: NixOS

fix desktop config
  dots/nixos/systems/aarch64-linux/nixos/default.nix
  dots/nixos/systems/x86_64-linux/austin-playground/default.nix
  dots/nixos/systems/x86_64-linux/austin-playground/hardware.nix
  dots/nixos/systems/x86_64-linux/austin-playground/monitors.xml
Labels: NixOS

remove virtualbox config
  dots/nixos/systems/x86_64-virtualbox/virt/default.nix
Labels: NixOS

Update check.yml
  .github/workflows/check.yml
Labels: GitHub-Action

add deadnix check
  .github/workflows/deadnix.yml
Labels: GitHub-Action

fix desktop config
  dots/nixos/systems/x86_64-linux/austin-playground/default.nix
Labels: NixOS

remove unused configs for now
  dots/nixos/flake.nix
  dots/nixos/systems/x86_64-linux/austin-playground/default.nix
  dots/nixos/systems/x86_64-linux/austin-playground/hardware.nix
  dots/nixos/systems/x86_64-linux/austin-playground/monitors.xml
Labels: NixOS

Update check.yml
  .github/workflows/check.yml
Labels: GitHub-Action

add plymouth
  dots/nixos/modules/system/boot/default.nix
  dots/nixos/packages/catppuccin-plymouth/default.nix
Labels: NixOS

add kvantum config
  dots/nixos/modules/desktop/addons/kvantum/default.nix
  dots/nixos/modules/suites/desktop/default.nix
Labels: NixOS

Create fmt.yml
  .github/workflows/fmt.yml
Labels: GitHub-Action

rename kvantum to qt to match actual home-manager config option
  dots/nixos/modules/desktop/addons/qt/default.nix
  dots/nixos/modules/suites/desktop/default.nix
Labels: NixOS

add nix support to shells
  dots/shared/home/.bashenv
  dots/shared/home/.config/fish/conf.d/environment_variables.fish
  dots/shared/home/.config/fish/config.fish
  dots/shared/home/.config/fish/fish_plugins
  dots/shared/home/.zshenv
  dots/shared/home/.zshrc
Labels: Shared

add macbook nix config
  dots/nixos/systems/aarch64-darwin/Austins-MacBook-Pro/default.nix
Labels: NixOS

unstable cat
  dots/nixos/overlays/catppuccin-kvantum/default.nix
Labels: NixOS

windows komorebi whkd update
  dots/windows/komorebi/home/.config/whkdrc
Labels: Windows, Komorebi

add github token to nix.conf
  .gitattributes
  dots/shared/home/.config/nix/nix.conf
  scripts/shared.sh
Labels: Shared, repo

add envrc
  .gitignore
  dots/nixos/.envrc
Labels: NixOS, repo

windows komorebi update
  dots/windows/komorebi/home/.config/komorebi/komorebi.ps1
  dots/windows/komorebi/home/.config/komorebi/komorebi.window-rules.ps1
  dots/windows/komorebi/home/.config/komorebi/komorebi.workspaces.ps1
  dots/windows/komorebi/home/.config/whkdrc
Labels: Windows, Komorebi

windows komorebi whkd update
  dots/windows/komorebi/home/.config/whkdrc
Labels: Windows, Komorebi

.github/labeler.yml:

Shared:
- dots/shared/**/*
- scripts/shared.sh

Linux:
- dots/linux/**/*
- scripts/os/linux.sh
- scripts/desktop-environment/*

MacOS:
- dots/macos/**/*
- scripts/os/mac.sh
- scripts/os/mac/*

NixOS:
- dots/nixos/**/*
- scripts/os/nixos/**/*

Windows:
- dots/windows/**/*
- scripts/os/windows/*
- scripts/os/windows.ps1

Hyprland:
- dots/linux/hyprland/**/*
- scripts/desktop-environment/hyprland.sh

AwesomeWM: 
- dots/linux/awesome/**/*
- scripts/desktop-environment/awesomewm.sh

Gnome: 
- dots/linux/gnome/**/*
- scripts/desktop-environment/gnome.sh

Komorebi:
- dots/windows/komorebi/**/*

Yabai:
- dots/macos/yabai/**/*

Server:
- dots/server/**/*

Unraid:
- dots/server/unraid/**/*

Docker: 
- dots/server/docker/**/*

repo:
- '*'

GitHub-Action:
- .github/workflows/*
