Repository khaneliman/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Shared, Linux, MacOS, NixOS, Windows, Hyprland, AwesomeWM, Gnome, Komorebi, Yabai, Server, Unraid, Docker, repo, GitHub-Action

macos sketchybar styling tweaks
  dots/macos/yabai/home/.config/sketchybar/plugins/date/items/ical.sh
  dots/macos/yabai/home/.config/sketchybar/plugins/github/scripts/github.sh
  dots/macos/yabai/home/.config/sketchybar/plugins/weather/item.sh
  dots/macos/yabai/home/.config/skhd/skhdrc
Labels: MacOS, Yabai

macos skhd fixes
  dots/macos/yabai/home/.config/skhd/skhdrc
Labels: MacOS, Yabai

reee
  dots/nixos/.envrc
  dots/nixos/assets/busy.png
  dots/nixos/assets/clean.png
  dots/nixos/assets/firefox.png
  dots/nixos/flake.lock
  dots/nixos/flake.nix
  dots/nixos/modules/desktop/addons/qt/default.nix
  dots/nixos/modules/suites/common/default.nix
  dots/nixos/modules/suites/development/default.nix
  dots/nixos/modules/system/locale/default.nix
  dots/nixos/packages/catppuccin-kvantum/default.nix
  dots/nixos/systems/aarch64-linux/nixos/hardware.nix
Labels: NixOS

macos sketchybar weather_icon_map refactor
  dots/macos/yabai/home/.config/sketchybar/plugins/weather/scripts/weather.sh
Labels: MacOS, Yabai

macos sketchybar small format tweak
  dots/macos/yabai/home/.config/sketchybar/plugins/date/items/calendar.sh
  dots/macos/yabai/home/.config/sketchybar/plugins/date/items/ical.sh
  dots/macos/yabai/home/.config/sketchybar/plugins/weather/item.sh
Labels: MacOS, Yabai

submodule and betterdiscord update
  dots/shared/home/.config/BetterDiscord/data/betterdiscord.asar
  dots/shared/home/.config/BetterDiscord/data/stable/misc.json
  dots/shared/home/.config/BetterDiscord/data/stable/settings.json
Labels: Shared

misc updates
  dots/linux/hyprland/home/.config/OpenRGB/default.orp
  dots/linux/hyprland/home/.config/OpenRGB/sizes.ors
  dots/shared/home/.config/davmail/davmail.properties
  dots/shared/home/.gnupg/pubring.kbx
  dots/shared/home/.gnupg/pubring.kbx~
Labels: Shared, Linux, Hyprland

windows komorebi multi-monitor fix
  dots/windows/komorebi/home/.config/komorebi/komorebi.workspaces.ps1
Labels: Windows, Komorebi

shared add iommu function
  dots/shared/home/.functions
Labels: Shared

davmail update
  dots/shared/home/.config/davmail/davmail.properties
Labels: Shared

fix readme typos
  dots/linux/hyprland/README.md
Labels: Linux, Hyprland

hyprland swaync remove unused example config
  dots/linux/hyprland/home/.config/swaync/config.json
Labels: Linux, Hyprland

firefox add vaapi
  dots/shared/home/.mozilla/firefox/khaneliman.default/user.js
Labels: Shared

vm config
  dots/nixos/README_en.md
  dots/nixos/hosts/default.nix
  dots/nixos/hosts/vm/default.nix
  dots/nixos/hosts/vm/hardware-configuration.nix
  dots/nixos/hosts/vm/home.nix
Labels: NixOS

enable sudo
  dots/nixos/hosts/vm/default.nix
  dots/nixos/hosts/vm/wayland/default.nix
  dots/nixos/hosts/vm/x11/default.nix
Labels: NixOS

.github/labeler.yml:

Shared:
- dots/shared/**/*
- scripts/shared.sh

Linux:
- dots/linux/**/*
- scripts/os/linux.sh
- scripts/desktop-environment/*

MacOS:
- dots/macos/**/*
- scripts/os/mac.sh
- scripts/os/mac/*

NixOS:
- dots/nixos/**/*
- scripts/os/nixos/**/*

Windows:
- dots/windows/**/*
- scripts/os/windows/*
- scripts/os/windows.ps1

Hyprland:
- dots/linux/hyprland/**/*
- scripts/desktop-environment/hyprland.sh

AwesomeWM: 
- dots/linux/awesome/**/*
- scripts/desktop-environment/awesomewm.sh

Gnome: 
- dots/linux/gnome/**/*
- scripts/desktop-environment/gnome.sh

Komorebi:
- dots/windows/komorebi/**/*

Yabai:
- dots/macos/yabai/**/*

Server:
- dots/server/**/*

Unraid:
- dots/server/unraid/**/*

Docker: 
- dots/server/docker/**/*

repo:
- '*'

GitHub-Action:
- .github/workflows/*
